---
new_page_extension: md
auto_deploy: false
admin_path: "/static/admin"
webhook_url: 
sections:
- type: heading
  label: Home
- type: directory
  path: src/content/hero
  label: Hero
  create: documents
  match: "**/*"
  new_doc_ext: app
  templates:
  - hero-content
- type: document
  path: src/content/values/**/*
  label: Values
  read_only: true
- type: directory
  path: src/content/about
  label: Founder
  create: documents
  match: "**/*"
  new_doc_ext: app
  templates:
  - about
- type: directory
  path: src/content/services
  label: Services
  create: documents
  match: "**/*"
  new_doc_ext: app
  templates:
  - services
- type: document
  path: src/content/contact-us
  label: Contact Form
  match: "**/*"
  read_only: true
- type: heading
  label: BLOG ( not active )
- type: heading
  label: PORTFOLIO ( not active )
upload_dir: KK-CMS
public_path: https://res.cloudinary.com/dd9etouxv/image/upload/KK-CMS
front_matter_path: ''
use_front_matter_path: 
file_template: ":filename:"
build:
  preview_output_directory: public
  install_dependencies_command: npm install
  preview_docker_image: forestryio/node:14
  mount_path: "/srv"
  working_dir: "/srv"
  instant_preview_command: npm run forestry:preview
